/*timeline*/
.timeline {
  width: 80%;
  margin: 50px auto;
  position: relative;
  left: 48%; /* Move slightly left */
  transform: translateX(-50%); /* Adjust centering */
}
.timeline .h3 {
  color: #fff;
}
.title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.icon-box {
  margin-right: 10px;
  color: #ffd700;
  font-size: 24px;
}

.h3 {
  color: #fff;
  font-weight: bold;
}

.timeline-list {
  position: relative;
  padding-left: 20px;
  border-left: 2px solid #ffd700;
}

.timeline-item {
  position: relative;
  margin-bottom: 40px;
}

.timeline-icon {
  position: absolute;
  top: 0;
  left: -10px;
  width: 20px;
  height: 20px;
  background-color: #ffd700;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255, 215, 0, 0.8);
}

.timeline-content {
  margin-left: 40px;
}

.timeline-item-title {
  font-size: 16px;
  font-weight: bold;
  color: #ffd700;
  margin-bottom: 5px;
}

.timeline-date {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 10px;
  display: block;
}

.timeline-text {
  color: #fff;
  line-height: 1.6;
  font-family: monospace;
}

/* Timeline Mobile Adjustments */
@media (max-width: 576px) {
  .timeline {
    width: 90%; /* Slightly expand the width for better visibility */
    left: 45%; /* Adjust left positioning */
    transform: translateX(-50%); /* Maintain proper centering */
    margin: 40px auto; /* Adjust spacing */
  }

  .timeline-content {
    margin-left: 30px; /* Reduce left margin for better fit */
  }
}
@media (max-width: 700px) {
  body {
    background-image: url("src/image.png"); /* Use a different image for mobile */
    background-size: cover; /* Adjust size */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repetition of the image */
    height: 100vh; /* Ensure the background image covers the full screen height */
    margin: 0; /* Ensure no margin around the body */
  }
}
