#root {
  background-image: url(../assets/background.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  perspective: 1000px;
  overflow-x: hidden;
}

@media (max-width: 700px) {
  #root {
    background-image: url("../assets/image.png"); /* Use a different image for mobile */
    background-size: cover; /* Adjust size */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repetition of the image */
    height: 100vh; /* Ensure the background image covers the full screen height */
    margin: 0; /* Ensure no margin around the body */
  }
}
