.rounded-header {
  border-radius: 40px;
  background-color: rgba(255, 254, 254, 0.212);
  backdrop-filter: blur(10px);
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: 75%;
  max-width: 1400px;
}

.rounded-header .logo {
  text-decoration: none;
  background-color: #ffd700;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.rounded-header .btn {
  background-color: #ffd700;
  border: none;
  border-radius: 20px;
  padding: 5px 15px;
  transition: background-color 0.3s ease;
}

.rounded-header .btn:hover {
  background-color: #f5efff;
}

/* Navigation Links */
.nav-link {
  margin: 0 15px;
  color: #fff !important;
  text-decoration: none;
  transition: color 0.3s, text-decoration 0.3s;
}

.nav-link:hover {
  text-decoration: underline 2px solid #ffd700;
}

/* Button Styles */
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffd700;
  border: none;
  border-radius: 20px;
  color: #333;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  transform-style: preserve-3d;
}

.btn:hover {
  transform: perspective(600px) rotateX(10deg) rotateY(-10deg) scale(1.1);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.btn:active {
  transform: perspective(600px) rotateX(5deg) rotateY(-5deg) scale(0.95);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
