.languages-section {
  padding: 50px 0;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  margin: 30px auto;
  width: 80%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the language boxes */
  gap: 20px; /* Add spacing between the boxes */
}

.section-title {
  color: #fff;
  margin-bottom: 30px;
}

.language-box {
  width: 150px;
  height: 150px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f4f6;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.language-box:hover {
  transform: translateY(-20px) scale(1.1);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.languageicon {
  transition: transform 0.3s ease;
}

.language-box:hover .languageicon {
  transform: scale(1.3);
}

/* Mobile view adjustment for Programming Language Section */
@media (max-width: 768px) {
  .languages-section {
    justify-content: center; /* Evenly distribute the boxes */
    display: flex;
    flex-wrap: wrap;
  }

  .language-box {
    width: 100px; /* Set box width */
    height: 100px;
    margin: 10px auto; /* Add margin for spacing */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .language-box img {
    width: 60px; /* Smaller icon size for mobile */
    height: 60px;
  }
}
